/* JUST for TEST*/
html, body {
	height: 100%;
}
#content {
	width: 100%;
	height: 100%;
}
/* RESIZE */
.resize_span {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background: #f00;
}
/* DRAGE DIV */
.drag_div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/*width: 100%;*/
	height: 5px;
	background: #222;
	cursor: pointer;
}
/* MainBoard */
#main_board {
	
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 600px;
	background: #ddd;
	min-width: 600px;
	min-height: 400px;

position: absolute;
	top: 30%;
	left: 30%;
	border: 1px solid #333;

}
/* MainBoard top-panel*/
#main_board .top-panel {
	position: relative;
	display: flex;
	flex-direction: row;
	flex: 1;
	min-height: 3rem;
	justify-content: flex-start;
	padding: .5rem 2rem;
	background: #fff;
	border-bottom: 1px solid #333; 

}
#main_board .top-panel .top-panel_head {
	color: #333;
	text-transform: uppercase;
	margin-right: 2rem;
	display: flex;
	align-items: center;
}
#main_board .top-panel .top-panel_list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position: outside;
}
#main_board .top-panel .top-panel_list .list_item {
	display: flex;
	padding: .5rem 1rem;
	margin: 0 1rem;
	background: #fff;
	border: 1px solid #333;
	border-radius: .5rem;
	cursor: pointer;
}
#main_board .top-panel .top-panel_list .list_item:hover {
	background: #ccc;
}
#main_board .top-panel .top-panel_list .list_item:hover 
> #main_board .top-panel .top-panel_list .list_item .close {
	background: #333;
	color: #fff;
}

#main_board .top-panel .top-panel_list .list_item.active {
	background: #333;
	color: #fff;
}
#main_board .top-panel .top-panel_list .list_item .close{
    display: block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    margin-left: .5rem;
    border-radius: .5rem;
    border: 1px solid #ddd;
    background: #ddd;
}

/* BoardWindow */
#main_board .main-board {
	display: flex;
	flex: 10;
	background: #ccc;
}
#main_board .main-board .board-window {
	display: flex;
	width: 100%;
}
#main_board .main-board .board-window .board-asidePanel {
	padding-left: 1rem;
	flex: 1;
	background: #fff;
	border-right: 1px solid #333;
}

/* board - content */
#main_board .main-board .board-window .board-content {
	display: flex;
	flex: 10;
}
/*#main_board .main-board .board-window .board-content.reverse {
	flex-direction: row-reverse;
}*/
/* video */
#main_board .main-board .board-window .board-content .video-wrapper.init,
#main_board .main-board .board-window .board-content .canvas-wrapper.init {
	display: flex;
	align-items: center;
	flex-direction: column;
}
#main_board .main-board .board-window .board-content .video-wrapper,
#main_board .main-board .board-window .board-content .canvas-wrapper {
	flex: 1;
	background: #ddd;
	padding: 1rem;
}
/*#main_board .main-board .board-window .board-content .video-wrapper.open {
	flex: 1;
}
#main_board .main-board .board-window .board-content .video-wrapper.close {
	flex: 0;
	width: 0;
	display: none;
}*/
.iframe-video {
	width: 84%;
	height: auto;
	display: flex;
	margin: 0 auto;
	
}

.asidePanel-switchButton,
.asidePanel-toggleButton,
.asidePanel-fileButton {
	min-width: 5rem;
	padding: .5rem;
    background: inherit;
    box-shadow: none;
    outline: none;
    border: 1px solid #333;
    border-radius: .5rem;
    margin: 1rem;
    cursor: pointer;
}
.asidePanel-switchButton:hover,
.asidePanel-toggleButton:hover,
.asidePanel-fileButton:hover {
	background: #ccc;
}

/* files */
.files-wrapper {
	position: relative;
}
.file-list {
	position: absolute;
    background: #ddd;
    top: 0;
    left: 90%;
    padding: 2rem;
    border: 1px solid #333;
    z-index: 999;
    list-style-position: outside;
    list-style-type: none;
}
.iframe-file {
	position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    margin: 0 auto;
    left: 10%;
}
 
/* canvas */
/*#main_board .main-board .board-window .board-content .canvas-wrapper {
	background: #bbb;
	display: flex;
	align-items: flex-start;
}
#main_board .main-board .board-window .board-content .canvas-wrapper.open {
	flex: 1;
}
#main_board .main-board .board-window .board-content .canvas-wrapper.close {
	flex: 0;
	width: 0;
	display: none;
}*/

/* TEST */

.canvas-wrapper {
	width: 100%;
}
.canvas-container {
	width: 100%;
	height: 100%;
}
/* END test */

.canvas-element {
	width: 100%;
	height: 100%;
	/*border: 1px solid #333;*/
}
#canvas-element {
	width: 100%;
	height: 100%;
}
/* canvas tools */
.tools {
	display: flex;
	flex-direction: column;
}
.tool-group {
	display: flex;
	max-width: 3rem;
	flex-direction: column;
	align-items: center;
	/*padding: 1rem;*/
	margin: .2rem 0;
	border: 1px solid #333;
	border-radius: .5rem;
}
.tool-button {
	display: flex;
    align-items: center;
    padding: .2rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    outline: none;
    margin: .2rem 0;
}

.tool-button.active {
	border: 1px solid #333;
	border-radius: .5rem;
	padding: .2rem;

}

.tool-img {
	display: block;
	width: 100%;
	height: auto;
}
.tool-label {
	display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .6rem;
}
.tool-range {
	max-width: 3.5rem;
}
/* Bottom panel*/
#main_board .bottom-panel {
	position: relative;
	display: flex;
	flex: 1;
	padding: .5rem 2rem;
	background: #fff;
	border-top: 1px solid #333;
}

/* init buttons*/
.init-btn {
	margin: 0 auto;
	cursor: pointer;
}
.init-btn .init-img {

}

#canvas {
	width: 100%;
	height: 100%;
}
.canvas-container {
	width: 100%;
	height: 100%;

}


/*TEST*/

.targetDiv { 
	width: 400px;
	height: 200px;
	position: absolute;
	background: #333;
}
.topDrag {
	width: 100%;
	height: 10px;
	background: #0f0;
	position: absolute;
	left: 0;
	top: 0;
}
.topDrag.drag {
	background: #f00;
}