/* JUST for TEST*/
html, body {
	height: 100%;
}
#content {
	width: 100%;
	height: 100%;
}
/* RESIZE */
.resize_span {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background: #f00;
}
/* DRAGE DIV */
.drag_div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/*width: 100%;*/
	height: 5px;
	background: #222;
	cursor: pointer;
}
/* MainBoard */
#main_board {

	display: flex;
	flex-direction: column;
	/*width: 1024px;*/
	/*height: 640px;*/
	/*background: #ddd;*/
	/*min-width: 600px;*/
	/*min-height: 400px;*/

/*position: absolute;*/
	/*top: 10%;*/
	/*left: 10%;*/
	/*border: 1px solid #333;*/

}
/* MainBoard top-panel*/
/*#main_board .top-panel {*/
	/*position: relative;*/
	/*display: flex;*/
	/*flex-direction: row;*/
	/*flex: 1;*/
	/*min-height: 3rem;*/
	/*justify-content: flex-start;*/
	/*padding: .5rem 2rem;*/
	/*background: #fff;*/
	/*border-bottom: 1px solid #333;*/

/*}*/
#main_board .top-panel .top-panel_head {
	color: #333;
	text-transform: uppercase;
	margin-right: 2rem;
	display: flex;
	align-items: center;
}
#main_board .top-panel .top-panel_list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position: outside;
}
#main_board .top-panel .top-panel_list .list_item {
	display: flex;
	padding: .5rem 1rem;
	margin: 0 1rem;
	background: #fff;
	border: 1px solid #333;
	border-radius: .5rem;
	cursor: pointer;
}
#main_board .top-panel .top-panel_list .list_item:hover {
	background: #ccc;
}
#main_board .top-panel .top-panel_list .list_item:hover
> #main_board .top-panel .top-panel_list .list_item .close {
	background: #333;
	color: #fff;
}

#main_board .top-panel .top-panel_list .list_item.active {
	background: #333;
	color: #fff;
}
#main_board .top-panel .top-panel_list .list_item .close{
    display: block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    margin-left: .5rem;
    border-radius: .5rem;
    border: 1px solid #ddd;
    background: #ddd;
}

/* BoardWindow */
/*#main_board .main-board {*/
	/*display: flex;*/
	/*flex: 10;*/
	/*background: #ccc;*/
/*}*/
#main_board .main-board .board-window {
	display: flex;
	width: 100%;
}
#main_board .main-board .board-window .board-asidePanel {
	padding-left: 1rem;
	flex: 1;
	background: #fff;
	border-right: 1px solid #333;
}

/* board - content */
#main_board .main-board .board-window .board-content {
	display: flex;
	flex: 10;
}
/*#main_board .main-board .board-window .board-content.reverse {
	flex-direction: row-reverse;
}*/
/* video */
#main_board .main-board .board-window .board-content .video-wrapper.init,
#main_board .main-board .board-window .board-content .canvas-wrapper.init {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.canvas-wrapper {
	width: 100%;
	height: 100%;
}
#main_board .main-board .board-window .board-content .video-wrapper,
#main_board .main-board .board-window .board-content .canvas-wrapper {
	flex: 1;
	background: #ddd;
	padding: 1rem;
	position: relative;

}
/*#main_board .main-board .board-window .board-content .video-wrapper.open {
	flex: 1;
}
#main_board .main-board .board-window .board-content .video-wrapper.close {
	flex: 0;
	width: 0;
	display: none;
}*/
.iframe-video {
	width: 84%;
	height: auto;
	display: flex;
	margin: 0 auto;

}

.asidePanel-VideoButton,
.asidePanel-PaintButton,
.asidePanel-FilesButton {
	min-width: 5rem;
	padding: .5rem;
    background: inherit;
    box-shadow: none;
    outline: none;
    border: 1px solid #333;
    border-radius: .5rem;
    margin: 1rem;
    cursor: pointer;
}
.asidePanel-switchButton:hover,
.asidePanel-toggleButton:hover,
.asidePanel-fileButton:hover {
	background: #ccc;
}

/* files */
.files-wrapper {
	position: relative;
	width: 100%;
}
.file-list {
	position: absolute;
    background: #ddd;
    top: 0;
    left: 90%;
    padding: 2rem;
    border: 1px solid #333;
    z-index: 999;
    list-style-position: outside;
    list-style-type: none;
}
.iframe-file {
	/*position: absolute;*/
    width: 100%;
    height: 100%;
    /*top: 10%;*/
    /*margin: 0 auto;*/
    /*left: 10%;*/
}

/* canvas */
/*#main_board .main-board .board-window .board-content .canvas-wrapper {
	background: #bbb;
	display: flex;
	align-items: flex-start;
}
#main_board .main-board .board-window .board-content .canvas-wrapper.open {
	flex: 1;
}
#main_board .main-board .board-window .board-content .canvas-wrapper.close {
	flex: 0;
	width: 0;
	display: none;
}*/

/* TEST */

.canvas-wrapper {
	width: 100%;
	position: relative;
}
.canvas-container {
	width: 100%;
	height: 100%;
}
/* END test */

.canvas-element {
	width: 100%;
	height: 100%;
	/*border: 1px solid #333;*/
}
#canvas-element {
	width: 100%;
	height: 100%;
}
/* canvas tools */

.tool-group {
	display: flex;
	max-width: 3rem;
	flex-direction: column;
	align-items: center;
	/*padding: 1rem;*/
	margin: .5rem 0;
	/*border: 1px solid #333;*/
	/*border-radius: .5rem;*/
}
/*.tools-wrapper {*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*background: #ccc;*/
	/*padding: 0 .5rem;*/
	/*box-shadow: -1px 1px 2px rgba(0, 0, 0, 1);*/
    /*outline: 1px solid rgba(0,0,0,.5);*/
/*}*/

.tool-button {
	display: flex;
    align-items: center;
    padding: .2rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    outline: none;
    margin: .2rem 0;
}

.tool-button.active {
	border: 1px solid #333;
	border-radius: .5rem;
	padding: .2rem;

}

.tool-img {
	display: block;
	width: 100%;
	height: auto;
}
.tool-label {
	display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .6rem;
	justify-content: space-between;
	text-transform: uppercase;
	margin: 1rem 0;
}
.tool-range {
	max-width: 5rem;
}
.tools-dropDown {
	width: 100%;
}
/* Bottom panel*/
/*#main_board .bottom-panel {*/
	/*position: relative;*/
	/*display: flex;*/
	/*flex: 1;*/
	/*padding: .5rem 2rem;*/
	/*background: #fff;*/
	/*border-top: 1px solid #333;*/
/*}*/

/* init buttons*/
.init-btn {
	margin: 0 auto;
	cursor: pointer;
}
.init-btn .init-img {

}

.canvas-container {
	width: 100%;
	height: 100%;

}


/*TEST*/

.targetDiv {
	width: 400px;
	height: 200px;
	position: absolute;
	background: #333;
}
.topDrag {
	width: 100%;
	height: 10px;
	background: rgba(0,0,0,.5);
	box-shadow: 0 1px 4px rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	left: 0;
}
.topDrag.drag {
	background: #f00;
}




/*	REFACTOR: ;*/
/*	tools */
.paint-view {

}
.tools-wrapper {
	position: absolute;
	z-index: 99;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	background: #4bb7b7;
	padding: 0 .5rem;
	/*max-width: 4rem;*/
	width: 40px;
	min-height: 100%;
	/*outline: 1px solid rgba(0,0,0,.3);*/
	/*box-shadow: 1px 1px 3px rgba(0,0,0,.4);*/
}
.tools-wrapper.left {
	left: 0;
	border-right: .2rem solid darkslategrey;
}
.tools-wrapper.right {
	border-left: .2rem solid darkslategray;
	right: 0;
	top: 0;
}

.tools-wrapper .tools {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

.tools-absolute {
	position: absolute;
	width: 10rem;
	background: darkslategrey;
	color: white;
	padding: 1rem;
	outline: 1px solid rgba(0,0,0,.3);
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	top: 0;
	left: 745%;
}

.tools-set {
	width: 3rem;
	padding: .5rem;
}
.tool-img {
	display: block;
	width: 100%;
	height: auto;
}

.tool-element {
	max-width: 2rem;
	max-height: 2rem;
	padding: .2rem;

}

.tool-active {
	background: #fff;
	border-radius: 50%;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5);
}



/* PDF */
#content {
	width: 500px;
	height: 300px;
}
.pdf-wrapper {
	width: 100%;
	height: 100%;
}

/*Board*/
.board-main {
	display: flex;
	flex-direction: row;
	flex:10;
}
.board-view {
	width: 100%;
	min-height: 100%;
	flex: 10;
	display: flex;
	border: 1px solid #333;
	flex-direction: column;
}

.board-content {
	flex: 10;
	/*TODO: delete this height*/
	/*max-height: 335px;*/
	/*height: 335px;*/
}

.board-asidePanel {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-right: 1px solid #333;
}
.aside-buttons {

}

/*Canvas paint*/
.paint {
	width: 100%;
	height: 100%;
}
.paint-view {
	position: relative;
	width: 100%;
	display: flex;
}

/*BOTTOM*/
.bottom-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex: 1;
	overflow-x: scroll;
	border-top: 1px solid #333;
}

/*Buttons*/
.button {
	/*min-width: 5rem;*/
	/*background: red;*/
	padding: .5rem;
	/*box-shadow: none;*/
	/*outline: none;*/
	/*border: 1px solid #333;*/
	/*border-radius: .5rem;*/
	cursor: pointer;
	/*margin: .5rem;*/
	color: #333;
	text-decoration: none;
	display: flex;
	align-items: center;
}

/*REFACTOR STYLE*/
#main_board {
	min-width: 640px;
	min-height: 460px;
	max-width: 540px;
	max-height: 460px;
	display: flex;
	flex-direction: column;

	border: .2rem solid darkslategrey;
	border-radius: .5rem;
	overflow: hidden;
	box-shadow: 1px 1px 5px rgba(0,0,0,.5);
	background: #fff;
}
.main-board {
	display: flex;
	flex: 10;
	border-top: .2rem solid darkslategrey;
	border-bottom: .2rem solid darkslategrey;
}
/*TOP-PANEL*/
.top-panel {
	display: flex;
	flex-direction: row;
	flex: 1;
	max-height: 2.5rem;
	padding: 0 1rem;
	background: #4bb7b7;
}
.top-panel_head {
	margin: 0;
	padding: 0;
}
.top-panel_list,
.bottom-list,
.aside-list{
	display: flex;
	padding: 0;
	margin: 0;
	list-style-position: outside;
	list-style-type: none;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.board-item,
.bottom-list_item{
	display: flex;
	padding: .2rem;
	align-items: center;
	justify-content: space-between;
	color: #333;
	/*border: 4px solid #333;*/
	/*border-radius: .5rem;*/
	cursor: pointer;
	/*margin-left: 1rem;*/

	/*min-width: 6rem;*/
	/*min-height: 2rem;*/
	/*max-width: 6rem;*/
	/*max-height: 2rem;*/
}
.board-item:hover {
	background: darkslategrey;
	color: white;
	padding: .2rem;
	border-radius: .2rem;
}


.board-item.active {
	border-color: white;
	color: white;
}
.board-item_add {

}
.board-item_delete {
	border: none;
	color: inherit;
	margin-left: .5rem;
	padding: .2rem;
}

.board-item_delete:hover {
	color: white;
}
/*BOTTOM-PANEL*/
.bottom-panel {
	display: flex;
	flex-direction: row;
	flex: 1;
	min-height: 2.5rem;
	max-height: 2.5rem;
	background: #4bb7b7;
}
.bottom-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 6;
}
.bottom-option-list {
	flex: 4;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.bottom-list_item {

}


/*ASIDE*/
.aside-list {
	flex-direction: column;
	background: #4bb7b7;
	border-right: .2rem solid darkslategrey;
	justify-content: flex-start;
}

/*PDF*/
.paint-view {
	width: 100%;
	height: 100%;
}

/* TODO : FOR TIME    NEED TO BE FIXED*/

#canvas {
	/*width: 542px;*/
	/*height: 336px;*/
}

/*VIEWS*/
.paint-view,
.video-view,
.pdf-view {
	width: 100%;
	height: 100%;
}
.pdf-wrapper {
	cursor: url("../static/images/cursor_point.png") 32 32, pointer;
}
.pdf-view,
.paint-view{
	overflow-y: scroll;
	overflow-x: scroll;
}
#canvas {
	position: absolute;
}